<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Task-GPS</ion-title>
    <ion-title>Task-GPS</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gps-task</ion-title>
    </ion-toolbar>
  </ion-header>
  <body class="body">
  <div class="content">
    <h1 class="pin-emoji">📍</h1>

    <h1>Begib dich zum Kühlschrank</h1>

    <h2>{{distance}} Meter</h2>

    <button class="finish-btn">Aufgabe erledigt</button>
    <div class="nav-btns">
      <button class="skip-btn">Überspringen</button>
      <button class="stop-btn">Abbrechen</button>
    </div>

  </div>
  </body>
</ion-content>
