<app-task-layout
  taskTitle="Begib dich zum Ziel"
  [isFinished]="distance === 0"
  [taskStatus]="taskStatusText"
  (finish)="completeTask()"
  (skip)="nextTask()"
  (cancel)="abortGame()">

  <span emoji>📍</span>

  <div task-content class="gps-wrapper">
    <div class="distance-circle" [class.at-target]="distance === 0">
      <h2 class="meter-count">{{ distance }}</h2>
      <p class="unit">Meter</p>
    </div>

    <p class="instruction">
      {{ distance === 0 ? 'Hervorragend! Du bist da.' : 'Such den Kühlschrank!' }}
    </p>
  </div>

</app-task-layout>
