<app-task-layout
  taskTitle="Laufe 15 Schritte"
    [taskTimer]="localTimer"

  [isFinished]="isFinished"
  (finish)="completeTask()"
  (skip)="router.navigate(['/home'])"
  (cancel)="router.navigate(['/home'])">

  <div emoji class="step-icon-wrapper">
    <span class="runner-emoji">🏃</span>
  </div>

  <div task-content class="step-container">
    <div class="timer-badge" [class.low-time]="remainingTime < 20">
      <ion-icon name="time-outline"></ion-icon>
    </div>

    <div class="progress-info">
      <h1 class="counter">{{ stepsDone }} von {{ stepsTarget }} Schritten</h1>
    </div>

    <div class="progress-bar-bg">
      <div class="progress-bar-fill" [style.width.%]="(stepsDone / stepsTarget) * 100"></div>
    </div>
  </div>
</app-task-layout>