  .content {
    background: white;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    height: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
  }

  .pin-emoji {
    font-size: 100px; 
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  h2 {
    color: #666;
    font-size: 1.2rem;
    margin-top: auto; 
    margin-bottom: 20px;
  }


  .body-task{
    background-color: #91E4BA;
  }
  
  .body-task-finished{
    background: linear-gradient(135deg, #91E4BA 0%, #000000 100%);
  }

.finish-btn {
  background-color: #54c37e;
  color: white;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 1rem;
  width: 220px;      
  margin-bottom: 15px; 
  border: none;
}

.nav-btns {
  display: flex;
  gap: 10px;           
  justify-content: center;
  width: 100%;
}

.skip-btn, .stop-btn {
  flex: 1;           
  max-width: 105px;   
  padding: 10px 0;
  border-radius: 10px;
  font-size: 1rem;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.skip-btn {
  color: black;
  border: 1px solid black;
}

.stop-btn {
  color: red;
  border: 1px solid red;
}
