<ion-content [fullscreen]="true">
  <div class="wrapper-background">

    <div class="white-card">
      <div class="card-header">
        <span>Huntly</span>
        <span>Start</span>
      </div>

      <div class="welcome-section">
        <h1>Willkommen bei Huntly</h1>

        <div class="input-container">
          <label>Dein Name (Pflichtfeld)</label>
          <input type="text" [(ngModel)]="gameService.playerName" placeholder="Name eingeben...">
        </div>
      </div>
      <div class="menu-area">
        <button class="start-btn"
                [disabled]="!gameService.playerName"
                (click)="startHunt()">
          Schnitzeljagd starten
        </button>

        <div class="nav-btns">
          <button class="secondary-btn" (click)="openHistory()">Verlauf</button>
          <button class="secondary-btn" (click)="openLeaderboard()">Rangliste</button>
        </div>
      </div>

    </div>

  </div>
</ion-content>
