<ion-content class="ion-padding ion-text-center">
  <img src="assets/icon/favicon.png" alt="Huntly Logo" style="width: 100px;">
  <h1>Huntly</h1>

  <ion-item lines="full">
    <ion-label position="floating">Dein Name (Pflichtfeld)</ion-label>
    <ion-input [(ngModel)]="gameService.playerName" placeholder="Name eingeben..."></ion-input>
  </ion-item>

  <ion-button expand="block" [disabled]="!gameService.playerName" (click)="startHunt()">
    Schnitzeljagd starten
  </ion-button>

  <ion-button fill="clear">Rangliste</ion-button>
</ion-content>
