
.main-container {
  --background: #91E4BA; // Das helle Grün aus deinem Entwurf
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.white-card {
  background: white;
  border-radius: 30px;
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #333;
}

// Slot für das Emoji
.emoji-section {
  font-size: 80px;
  margin-bottom: 20px;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.finish-btn {
  background-color: #54c37e;
  color: white;
  width: 100%;
  max-width: 260px;
  padding: 18px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}
