<ion-content [fullscreen]="true" class="task-page-content" [class.success-bg]="isFinished">

  <div class="game-stats-header">

    <div class="total-time">
      <ion-icon name="stopwatch-outline"></ion-icon>
    </div>
  </div>

  <div class="outer-wrapper">
    <div class="white-card">

      <div class="card-header">
        <div class="score">
            <span>🥩 {{ gameService.schnitzelCount }}</span>

            <span>🥔 {{ gameService.kartoffelCount }}</span>
        </div>

        <div class="timer-wrapper" [class.timer-expired]="isTimerExpired">
          <ion-icon [name]="isTimerExpired ? 'alert-circle-outline' : 'time-outline'"></ion-icon>
          <span>{{ taskTimerDisplay }}</span>
        </div>
      </div>

      <div class="emoji-wrapper">
        <ng-content select="[emoji]"></ng-content>
      </div>

      <h1 class="task-title">{{ taskTitle }}</h1>

      <div class="main-task-area">
        <ng-content select="[task-content]"></ng-content>
      </div>

      <div class="action-footer">
        <button
          class="finish-btn"
          [disabled]="!isFinished"
          (click)="finish.emit(isTimerExpired)">
          {{taskStatus}}
        </button>

        <div class="nav-btns">
          <button class="skip-btn" (click)="skip.emit()">Überspringen</button>
          <button class="stop-btn" (click)="cancel.emit()">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
