<ion-content [fullscreen]="true" class="task-page-content">
  <div class="wrapper-background" [class.success-bg]="isFinished">

    <div class="white-card">
      <div class="card-header">
        <span class="app-name-tag">Huntly</span>
        <span class="time-tag">{{ currentTime }}</span>
      </div>

      <div class="emoji-wrapper">
        <ng-content select="[emoji]"></ng-content>
      </div>

      <h1 class="task-title">{{ taskTitle }}</h1>

      <div class="main-task-area">
        <ng-content select="[task-content]"></ng-content>
      </div>

      <button class="finish-btn" (click)="finish.emit()">Aufgabe erledigt</button>

      <div class="nav-btns">
        <button class="skip-btn" (click)="skip.emit()">Überspringen</button>
        <button class="stop-btn" (click)="cancel.emit()">Abbrechen</button>
      </div>
    </div>

  </div>
</ion-content>
