<app-task-layout
  taskTitle="QR-Code scannen"
  [isFinished]="scanned"
  (finish)="onFinish($event)"
  (skip)="onSkip()"
  (cancel)="onCancel()">

  <span emoji>📸</span>

  <div task-content class="qr-container">

    <div *ngIf="!scanned" class="scan-box" (click)="pickImageAndScan()">
      <div class="icon-circle">
        <ion-icon name="camera-outline"></ion-icon>
      </div>
      <p>Code am Zielort fotografieren</p>
      <small *ngIf="errorMessage" class="error-hint">{{ errorMessage }}</small>
    </div>

    <div *ngIf="scanned" class="success-display">
      <div class="check-circle">
        <ion-icon name="checkmark-done"></ion-icon>
      </div>
      <h2>Code akzeptiert!</h2>
      <p class="result-text">"{{ scanResult }}"</p>

      <button class="change-btn" (click)="pickImageAndScan()">Anderes Bild?</button>
    </div>

  </div>

</app-task-layout>
