<app-task-layout
  taskTitle="QR-Code scannen"
  [isFinished]="scanned"
  (finish)="onFinish()"
  (cancel)="onCancel()">

  <span emoji>📸</span>

  <div task-content>
    <div class="qr-placeholder" (click)="startScan()" [class.scanned]="scanned">
      <ion-icon *ngIf="!scanned" name="qr-code-outline" style="font-size: 60px;"></ion-icon>
      <ion-icon *ngIf="scanned" name="checkmark-circle" color="success" style="font-size: 60px;"></ion-icon>
    </div>
    <h2 *ngIf="scanned" style="color: #54c37e; font-size: 1.2rem; margin-top: 15px;">Erfolgreich!</h2>
  </div>

</app-task-layout>
